        body {
            min-width: 375px;
            max-width: 614px;
            box-sizing: border-box;
        }
        
        .login {
            background-color: #FFFFFF;
            display: flex;
            display: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .login-inputBox {
            display: flex;
            flex-flow: wrap column;
            justify-content: center;
            align-items: center;
            margin: 72px auto 295px;
        }
        
        .login-inputBox input {
            width: 260px;
            height: 54px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #AEAEAE;
            background: #FFFFFF;
            border: 1px solid #D7D7D7;
            border-radius: 4px;
            text-align: center;
            margin-top: 72px;
        }
        
        .login-inputBox button {
            width: 109px;
            height: 45px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #696969;
            background-color: #E7E7E7;
            border: transparent solid;
            border-radius: 9px;
            margin-top: 15px;
        }