* {
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 22px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

footer ion-icon {
    font-size: 25px;
}

footer input {
    border: 0;
    outline: none;
    font-weight: 400;
}

::placeholder {
    
    font-style: italic;
    color: black;
}

main {
    height: calc(100vh - 180px);
    position: absolute;
    bottom: 60px;
}

main p {
    margin-left: 8px;
    font-size: 14px;
}

main div {
    width: 100%;
    margin-bottom: 5px;
    padding: 1px;
    background-color: #FFFFFF;
}

.layout-login {
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
}

.login-logo {
    position: absolute;
    top: 80px;
    left: 122px;
}

.login-logo img {
    width: 130px;
    height: 92px;
}

.info-login {
    position: relative;
    top: 100px;
    right: 55px;
}

.info-login input {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 261px;
    height: 54px;
    text-align: center;
    outline: none;
}

.info-login input::placeholder {
    color: #AEAEAE;
}

button {
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    margin-left: 30%;
    color: #696969;
    border: none;
}

.mensagens {
    width: 100vw;
    padding-bottom: 90px;
    word-wrap: break-word;
}

.time {
    color: #AAAAAA;
}

.status {
    background-color: #DCDCDC;
    border-radius: 2px;
}

.private_message {
    background-color: #FFDEDE;
}

ion-icon:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}